<!DOCTYPE html>
<html>
  <head>
    <title>GhlPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Include your application's CSS -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <!-- Include JavaScript from Import Map -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
